<h2>ルーム登録フォーム</h2>

<div class="outer">
	<%= form_with model:@room do |f| %>
		<table>
			<tr>
				<th><%= f.label :room_name ,"ルーム名" %></th>
				<td><%= f.text_field :room_name, class:"input" %></td>
			</tr>
			<tr>
				<th><%= f.label :introduction ,"紹介文" %></th>
				<td><%= f.text_area :introduction, class:"" %></td>
			</tr>
			<tr>
				<th><%= f.label :fee ,"料金" %></th>
				<td><%= f.number_field :fee, class:"input" %> 円</td>
			</tr>
			<tr>
				<th><%= f.label :address ,"住所" %></th>
				<td><%= f.text_field :address, class:"input" %></td>
			</tr>
			<tr>
				<th><%= f.label :room_image ,"ルームイメージ" %></th>
				<td><%= f.file_field :room_image, class:"input" %></td>
			</tr>
		</table>
		<% @room.errors.full_messages.each do |message| %>
			<div class="form-error">
        <%= message %>
			</div>
		<% end %>
		<div class="operation-box"><%= f.submit "ルーム登録" %></div>
	<% end %>
</div>
